$color-background = #1c1d25
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = #666
$color-link = #171118
$color-text = #c9cacc
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #7c7292
$color-quote = #5E5462
$highlight = hexo-config("highlight") || "rainbow"
